{% extends 'base.html.twig' %}

{% block title %}Edit Transactions{% endblock %}

{% block body %}
    {{ include('misc/menu.html.twig') }}
    <h1>Edit Transactions</h1>

    {{ include('transactions_crud/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_transactions_crud_index') }}">back to list</a>

    {{ include('transactions_crud/_delete_form.html.twig') }}
{% endblock %}
